#menu ul {
	width: 100%;
	height: 50px;
	background-color: #008c9e;
	text-align: right;
	border-bottom: 1px solid;
	padding-left: 0px;
}

#menu li:first-child, #menu li:nth-child(2) {
	float: left;
}

#menu li img {
	width: 30px;
}

#menu ul li {
	display: inline-block;
	margin: 10px 15px;
}

#menu ul li ul{
	display: none;
}

#menu ul li:hover ul {
	display: block;
	padding-left: 0px;
	margin-left: 0px;
	position: absolute;
	width:120px;
	height: 100px;
	top: 50px;
	right: 95px;
	text-align: left;
}

#search {
	border-radius:20px;
	padding-left: 10px;
}

#menu a {
	list-style: none;
	color: white;
	text-decoration: none;
}

#menu a:hover {
	list-style: none;
	color: white;
	text-decoration: none;
	border-bottom: 2px solid white;
	padding-bottom: 15px;
}

i {
	margin: 5px;
	color: white;
}


footer {
	width: 100%;
	height: auto;
	text-align: center;
}

footer ul {
	display: inline-block;
	list-style: none;
	text-align: left;
	padding: 30px;
}

footer li:first-child {
	font-weight: bold;
	margin-bottom: 10px;
}

footer a {
	color: black;
}

#reseauxSociaux {
	width: 80%;
	text-align: center;
	margin: auto;
	padding-top: 40px;
	border-top: 1px solid #008c9e;
}

#reseauxSociaux li {
	display: inline-block;
	margin: 10px;
}

#reseauxSociaux p {
	font-weight: bold;
}

#reseauxSociaux i {
	font-size: 30px;
	color: #008c9e;
}









/* ------------------------------------ *\
			PRODUITS FAV
\* ------------------------------------ */

/* Largeur générale appliquée à chaque élément */
.width-card-fav {
  width: 300px;
}

.position-elem {
	position: absolute;
}

.tx-white {
	color: #ffffff;
}



#containerProduits {
	width: auto;
	height: auto;
	margin: 50px 0 50px 0;
}

.container-cards-produits {
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

	/* Container de la Card */
	.card-fav {
		position: relative;
		height: auto;
	}

	.card-fav:hover .btn-card-fav-produit {
		opacity: 1;
	}

	/* Image de la Card */
	.pic-produit-fav {
		height: 300px;
		background: url("../image/codeybot-is-a-robot-that-helps-children-learn-coding.jpg") no-repeat;
		background-position: 85% 0px;
		-webkit-background-size: cover;
		background-size: cover;
	}

	/* Div contenant le bouton "Ajouter au panier" */
  .btn-card-fav-produit {
    top: 45%;
    height: auto;
		transition: opacity .25s ease;
		opacity: 0;
  }

		/* Input bouton "Ajouter au panier" */
		.btn-acheter-fav {
			display: block;
			height: 40px;
			border: 1px solid #ffffff;
			background-color: rgba(0, 0, 0, 0);
			margin: 0 auto;
		}

			.width-btn-fav {
				width: 150px;
			}
