#menu ul {
	width: 100%;
	height: 50px;
	background-color: #008c9e;
	text-align: right;
	border-bottom: 1px solid;
	padding-left: 0px;
}

#menu li:first-child, #menu li:nth-child(2) {
	float: left;
}

#menu li img {
	width: 30px;
}

#menu ul li {
	display: inline-block;
	margin: 10px 15px;
}

#menu ul li ul{
	display: none;
}

#menu ul li:hover ul {
	display: block;
	padding-left: 0px;
	margin-left: 0px;
	position: absolute;
	width:120px; 
	height: 100px;
	top: 50px;
	right: 95px;
	text-align: left;
}

#search {
	border-radius:20px;
	padding-left: 10px; 
}

#menu a {
	list-style: none;
	color: white;
	text-decoration: none;
}

#menu a:hover {
	list-style: none;
	color: white;
	text-decoration: none;
	border-bottom: 2px solid white;
	padding-bottom: 15px; 
}

i {
	margin: 5px;
	color: white;
}

#containerProduits {
	width: 100%;
	height: auto;
}

footer {
	width: 100%;
	height: auto;
	text-align: center;
}

footer ul {
	display: inline-block;
	list-style: none;
	text-align: left;
	padding: 30px;
}

footer li:first-child {
	font-weight: bold;
	margin-bottom: 10px; 
}

footer a {
	color: black;
}

#reseauxSociaux {
	width: 80%;
	text-align: center;
	margin: auto;
	padding-top: 40px;
	border-top: 1px solid #008c9e; 
}

#reseauxSociaux li {
	display: inline-block;
	margin: 10px;
}

#reseauxSociaux p {
	font-weight: bold;
}

#reseauxSociaux i {
	font-size: 30px;
	color: #008c9e;
}
