body {
	background-color: #DBE0DE;
}

#menu ul {
	width: 100%;
	height: 50px;
	background-color: #008c9e;
	text-align: right;
	border-bottom: 1px solid;
	padding-left: 0px;
}

#menu li:first-child, #menu li:nth-child(2) {
	float: left;
}

#menu li img {
	width: 30px;
}

#menu ul li {
	display: inline-block;
	margin: 10px 15px;
}

#menu ul li ul{
	display: none;
}

#menu ul li:hover ul {
	display: block;
	padding-left: 0px;
	margin-left: 0px;
	position: absolute;
	width:120px; 
	height: 100px;
	top: 50px;
	right: 95px;
	text-align: left;
}

#search {
	border-radius:20px;
	padding-left: 10px; 
}

#menu a {
	list-style: none;
	color: white;
	text-decoration: none;
}

#menu a:hover {
	list-style: none;
	color: white;
	text-decoration: none;
	border-bottom: 2px solid white;
	padding-bottom: 15px; 
}

i {
	margin: 5px;
	color: white;
}


footer {
	width: 100%;
	height: auto;
	text-align: center;
}

footer ul {
	display: inline-block;
	list-style: none;
	text-align: left;
	padding: 30px;
}

footer li:first-child {
	font-weight: bold;
	margin-bottom: 10px; 
}

footer a {
	color: black;
}

#reseauxSociaux {
	width: 80%;
	text-align: center;
	margin: auto;
	padding-top: 40px;
	border-top: 1px solid #008c9e; 
}

#reseauxSociaux li {
	display: inline-block;
	margin: 10px;
}

#reseauxSociaux p {
	font-weight: bold;
}

#reseauxSociaux i {
	font-size: 30px;
	color: #008c9e;
}


/*______________PAGE CONNEXION_____________*/

#containerConnexion {
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


#utilisateur, #newUtilisateur {
	height: 300px;
	width: 500px;
	padding: 30px;
}

.button button {
	margin: 20px 0;
	border-radius:0%;
	padding: 10px;
	width: 160px;
	background-color: #19dcd5;
	color: white;
}

.sizeInput {
	width: 250px;
	padding: 10px;
	margin: 10px 0;
}

p {
	margin: 0px;
}

/*____Acces validé*/

#containerAcces, #containerNewUs {
	width: 80%;
	margin: auto;
	background-color: white;
	padding: 20px;
}

.infos {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.infoPerso {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


#checkbox {
	width: 80%;
	text-align: left;
	padding-bottom: 10px;
}

#lastShop, #containerPaiement {
	width: 80%;
	margin: auto;
	padding: 20px 0;
	text-align: center;
}

.blockCommande {
	/*width: 300px;*/
	height: auto;
	border: 1px solid #d8d8d8;
}

#commandes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.shop {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
}

#paiement {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.infoCard {
	text-align: left;
}